In [21]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [ ]:
#Example 1 - Creating Series

In [9]:
obja = Series([3,6,9,12])
obja

0     3
1     6
2     9
3    12
dtype: int64

In [10]:
obja.values

array([ 3,  6,  9, 12], dtype=int64)

In [11]:
obja.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
# Example 2  - Creting series of data

In [4]:
ww2_casual = Series([8.3,4.3,3,2.10,0.40],index =['USA', 'GEM','LDN','AUS','IND'])
ww2_casual

USA    8.3
GEM    4.3
LDN    3.0
AUS    2.1
IND    0.4
dtype: float64

In [25]:
ww2_casual['USA']

8.3

In [26]:
# Sample 2
#check which country  casuality grater than 4  million
ww2_casual[ww2_casual >4]

USA    8.3
GEM    4.3
dtype: float64

In [27]:
# sample 3
# check whether the given item is in the array

In [28]:
'LDN' in ww2_casual

True

In [29]:
'GBP' in ww2_casual

False

In [ ]:
#Examole 3 - changing a series into a dictionary

In [5]:
ww2_dict = ww2_casual.to_dict()
ww2_dict

{'USA': 8.3, 'GEM': 4.3, 'LDN': 3.0, 'AUS': 2.1, 'IND': 0.4}

In [8]:
# Example 4 - Convertig dictionary in to a series

ww2_series = Series(ww2_dict)

ww2_series

USA    8.3
GEM    4.3
LDN    3.0
AUS    2.1
IND    0.4
dtype: float64

In [12]:
# Example 4 - Setting up index for  dicttionary

country = ['USA','GEM','LDN','AUS','PAK']

In [17]:
obj2 = Series(ww2_dict,index=country)

obj2
# in newly created Inde we added new country Pak which is not in dictionary hence it shows Pak NAn

USA    8.3
GEM    4.3
LDN    3.0
AUS    2.1
PAK    NaN
dtype: float64

In [ ]:
#Example 5
# Pandas has built in methods to find null or not null

In [18]:
pd.isnull(obj2)# finding null

USA    False
GEM    False
LDN    False
AUS    False
PAK     True
dtype: bool

In [19]:
pd.notnull(obj2)

USA     True
GEM     True
LDN     True
AUS     True
PAK    False
dtype: bool

In [ ]:
#Example 6  - Adding Series to Series, and it'll automatically align the data by index.

In [27]:
ww2_series + obj2

AUS     4.2
GEM     8.6
IND     NaN
LDN     6.0
PAK     NaN
USA    16.6
dtype: float64

In [ ]:
# Sample 7 - naming new series and index

In [25]:
obj2.name = "world war 2 Casualties" #  naming series

In [26]:
obj2

USA    8.3
GEM    4.3
LDN    3.0
AUS    2.1
PAK    NaN
Name: world war 2 Casualties, dtype: float64

In [31]:
obj2.index.name= 'countries' # naming index

In [32]:
obj2

countries
USA    8.3
GEM    4.3
LDN    3.0
AUS    2.1
PAK    NaN
Name: world war 2 Casualties, dtype: float64

In [ ]:
# Example 7  -

In [ ]:
ww2_casual = Series([])