In [2]:
import numpy as np
import pandas as pd
from pandas import  DataFrame, Series

from numpy.random import randn

In [7]:
ser= Series(randn(6),index= [[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser  # Dual Index

1  a   -0.710551
   b    0.582754
   c   -0.671085
2  a    0.598338
   b   -0.589832
   c    0.666785
dtype: float64

In [8]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [9]:
#checking specfic subset

In [46]:
# checking  exterbnal index level
ser[1]

a   -0.710551
b    0.582754
c   -0.671085
dtype: float64

In [12]:
ser[2]

a    0.598338
b   -0.589832
c    0.666785
dtype: float64

In [ ]:
# checking internal  index level

In [15]:
ser[:,'a']

1   -0.710551
2    0.598338
dtype: float64

In [ ]:
# Creating  multiple index for  DataFrame using  method called unstack

In [17]:
dframe=ser.unstack()
dframe

          a         b         c
1 -0.710551  0.582754 -0.671085
2  0.598338 -0.589832  0.666785

In [22]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index= [['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [23]:
# Naming Index level

In [25]:
dframe2.index.names = ['Index_1','index_2']

dframe2.columns.names = ['cities','temp']

dframe2

cities            NY      LA   SF
temp            cold hot hot cold
Index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [29]:
# interchanging  level  of Index
dframe2.swaplevel('cities','temp', axis= 1)
dframe2

cities            NY      LA   SF
temp            cold hot hot cold
Index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [34]:
# sorting  Index level
dframe2.sort_index(0)
dframe2 # 0 represents  first  index

cities            NY      LA   SF
temp            cold hot hot cold
Index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [39]:
dframe2.sort_index(1)
dframe2

cities            NY      LA   SF
temp            cold hot hot cold
Index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [40]:
# Performing operstion on differnt  level of Index

In [44]:
 dframe2.sum(level='temp',axis=1)

temp             cold  hot
Index_1 index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27