In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [6]:
dframe= DataFrame({'K1':['X','X','Y','Y','Z'],
                  'K2':['alpha','beta','alpha','beta','alpha'],
                  'dataset1':np.random.randn(5),
                  'dataset2':np.random.randn(5)})
dframe

  K1     K2  dataset1  dataset2
0  X  alpha  1.288978 -2.259742
1  X   beta -1.919197 -1.517935
2  Y  alpha  0.304948 -0.567991
3  Y   beta  0.572475 -1.807456
4  Z  alpha  1.817809 -0.530730

In [7]:
# Grouping dataset with K1 Key

In [10]:
group1=dframe['dataset1'].groupby(dframe['K1'])

In [11]:
group1

In [12]:
group1.mean()

K1
X   -0.315110
Y    0.438712
Z    1.817809
Name: dataset1, dtype: float64