In [1]:
import numpy as np
import pandas as pd
from pandas import  DataFrame, Series

In [5]:
dframe = pd.read_csv(r'C:\Users\parc\Desktop\Data Analyst\chap_25.csv')
dframe # in this case the  first line of data was  taken as dataframe header, to avoid this we suppose to
#  use "header" element

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
dframe= pd.read_csv(r'C:\Users\parc\Desktop\Data Analyst\chap_25.csv', header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [ ]:
# other way to import CSV is to using "read_table"

In [12]:
dframe = pd.read_table(r'C:\Users\parc\Desktop\Data Analyst\chap_25.csv',sep=',',header = None,)
dframe  # Sep is must since we are mentioning file type and Sep argument should come next to file path

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [32]:
# indicating  particular number of Rows to  be read
# "nrows" argument indicates no of rows to be read
dframe= pd.read_csv(r'C:\Users\parc\Desktop\Data Analyst\chap_25.csv',header = None,nrows =3)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit

In [25]:
# exporting Data Frame
dframe.to_csv(r'C:\Users\parc\Desktop\Data Analyst\mytextdata_new.csv')

In [27]:
import sys

In [28]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [29]:
dframe.to_csv(sys.stdout,sep='-') # seperating with  '-'

-0-1-2-3-4
0-q-r-s-t-apple
1-2-3-4-5-pear
2-a-s-d-f-rabbit
3-5-2-5-7-dog

In [30]:
# choose to write only a specific subset of columns to the CSV file.

In [31]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5