In [33]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [17]:

ser1=Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
#Example 1 - Reindexing earleir DataFrame
ser2= ser1.reindex(['A','B','C','E','F'])  # when we reindex we include E and F newly hence the output shows  "Na"
ser2

A    1.0
B    2.0
C    3.0
E    NaN
F    NaN
dtype: float64

In [13]:
#Exampl 2 - Reindexing Ser2

In [20]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
# D and G newly added to this series hence its given with value 0

A    1.0
B    2.0
C    3.0
D    0.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [ ]:
#Example 3 - using methinds to  fill Value

In [23]:
ser3 =Series(['USA', "Mexico", "Canada"],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [26]:
ranger=range(15)
ranger

range(0, 15)

In [27]:
ser3.reindex(ranger,method='ffill')
# first we  craeted a series with just 3  element  tagging with three particular index
# then we creat a object as range
# then we reindex earlier  series with  obj later created
# we fill 3 element with 14 idex by using method argument 'ffill' which is  called  forwardfill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [28]:
ser3.reindex(ranger,method='bfill')# method of filling - Backward filling

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [ ]:
#Example 4 - Reindexing both rows and columns

In [29]:
# Creat a data set

In [43]:
dframe= DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F']
                  ,columns=['col1','col2','col3','col4','col5'])

In [44]:
dframe

       col1      col2      col3      col4      col5
A  0.297135  0.930949  0.325635 -0.744229 -0.018973
B -0.559508 -0.654795  0.163390 -0.069330 -0.134649
D  0.588368 -0.673628 -0.389202 -0.018521 -0.160800
E  0.230470  0.575470 -0.866625  1.041081 -0.085919
F -1.513571 -0.158161 -0.273506 -0.772826  1.770748

In [45]:
dframe2= dframe.reindex(['A','B','C','E','F'])

In [47]:
dframe2

       col1      col2      col3      col4      col5
A  0.297135  0.930949  0.325635 -0.744229 -0.018973
B -0.559508 -0.654795  0.163390 -0.069330 -0.134649
C       NaN       NaN       NaN       NaN       NaN
E  0.230470  0.575470 -0.866625  1.041081 -0.085919
F -1.513571 -0.158161 -0.273506 -0.772826  1.770748

In [ ]:
# Example 5 - Reindexing  Explicitly Columns

In [49]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [50]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.297135  0.930949  0.325635 -0.744229 -0.018973   NaN
B -0.559508 -0.654795  0.163390 -0.069330 -0.134649   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
E  0.230470  0.575470 -0.866625  1.041081 -0.085919   NaN
F -1.513571 -0.158161 -0.273506 -0.772826  1.770748   NaN

In [ ]:
#Example 6 - reindexing DataFrame  (with missing  index'C")

In [55]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['C'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"