In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe=DataFrame(np.arange(16).reshape(4,4))

In [4]:
blender=np.random.permutation(4)
blender

array([0, 3, 1, 2])

In [5]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15