In [15]:
import pandas as pd

In [20]:
xlsfile = pd.ExcelFile(r'C:\Users\parc\Desktop\Data Analyst\Chap_28.xlsx')

In [21]:
dframe = xlsfile.parse('Sheet1')

In [22]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2  Unnamed: 3
0             NaN          23          54          76
1             NaN         234         345          42
2             NaN         234          45         345
3             NaN          34         321          43
4             NaN          45          56        2344