In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn


from scipy import stats

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [2]:
# flights is a sample dataset in seaborn

flight_dframe = sns.load_dataset('flights')

In [3]:
flight_dframe.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [4]:
# pivioting the above data

In [16]:
flight_dframe = flight_dframe.pivot('year','month')

KeyError: "None of ['year', 'month'] are in the columns"